.navigation {
  height: 5.6rem;
  background-color: var(--lightgray);
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
}

.navigationContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigationRow {
  flex-grow: 1;
}

.navigationMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationMenuLink {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray);
}

.navigationMenuLinkActive {
  color: var(--black);
}

.navigationLangSwitchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
